.header {
    background: linear-gradient(to right, #2a2a2a, #0f0f0f);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 40px;
    border-bottom: #1a1a1a 1px solid;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.python-file {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.file-icon {
    width: 20px;
    height: 20px;
}

.resume-title {
    font-size: 16px;
}

.play-icon {
    width: 30px; /* Установлен размер иконки */
    height: 30px; /* Установлен размер иконки */
    position: absolute; /* Абсолютное позиционирование */
    right: 70px; /* Отступ от правого края */
    top: 50%; /* Позиция по вертикали (середина экрана) */
    transform: translateY(-50%); /* Центрирование по вертикали относительно 50% */
    cursor: pointer; /* Курсор указателя при наведении */
}

